*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 50px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    background-color: #e7ecef;
    text-align: center;
}