*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 50px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    background-color: #e7ecef;
    text-align: center;
}

#header{
    border: 2px solid black;
    max-width: 600px;
    height: 150px;
    font-size: 30px;
}

